{% extends 'base.html' %}
{% block title %}
发布
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/issue.css') }}">
{% endblock %}

{% block body %}
    <h3 class="page-title">发布</h3>
    <form action="" method="POST">
        <div class="form-container">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="标题" name="title">
            </div>
            <div class="form-group">
                <textarea name="content" class="form-control" placeholder="请输入内容" rows="5"></textarea>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">发布</button>
            </div>
        </div>
    </form>
{% endblock %}